<div class="text-gray-500 p-5 text-sm border-r border-gray-900">
    <div class="space-y-4">
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="home" class="w-5 h-5"></hero-icon>
            <p>Home</p>
        </button>
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="search" class="w-5 h-5"></hero-icon>
            <p>Search</p>
        </button>
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="library" class="w-5 h-5"></hero-icon>
            <p>Library</p>
        </button>
        <hr class="border-t-[0.1px] border-gray-900" />
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="plus-circle" class="w-5 h-5"></hero-icon>
            <p>Home</p>
        </button>
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="heart" class="w-5 h-5"></hero-icon>
            <p>Search</p>
        </button>
        <button class="flex items-center space-x-2 hover:text-white">
            <hero-icon name="rss" class="w-5 h-5"></hero-icon>
            <p>Library</p>
        </button>
        <hr class="border-t-[0.1px] border-gray-900" />
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
        <p class="cursor-pointer hover:text-white"> Playlist name... </p>
    </div>
</div>